BAQExecute_WCF/Service References/DynamicQueryService/DynamicQuerySvcFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Ice:BO:DynamicQuery" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DynamicQuerySvcFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_DynamicQuerySvcContract1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_DynamicQuerySvcContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Ice:BO:DynamicQuery" location="http://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_DynamicQuerySvcContract" type="i0:DynamicQuerySvcContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByIDs">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/ExecuteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckTestQueryExecution">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/CheckTestQueryExecution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionPlan">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryListFromLike">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryListFromLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParameters">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParametersByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParametersByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSet">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByIDAndCompany">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByIDAndCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Analyze">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Analyze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetRows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryList">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetListByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetListByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/UpdateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNew">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNewByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdate">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidate">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomAction">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomActionByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomActionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctValues">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetDistinctValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_DynamicQuerySvcContract1" type="i0:DynamicQuerySvcContract">
    <wsp:PolicyReference URI="#BasicHttpBinding_DynamicQuerySvcContract1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByIDs">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/ExecuteByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckTestQueryExecution">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/CheckTestQueryExecution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionPlan">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryListFromLike">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryListFromLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParameters">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParametersByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParametersByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSet">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByIDAndCompany">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByIDAndCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Analyze">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Analyze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetRows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryList">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetListByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetListByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/UpdateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNew">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNewByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdate">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidate">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidateByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidateByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomAction">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomActionByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomActionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctValues">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetDistinctValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_DynamicQuerySvcContract" type="i0:DynamicQuerySvcContract">
    <wsp:PolicyReference URI="#CustomBinding_DynamicQuerySvcContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetByIDs">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecuteByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/ExecuteByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckTestQueryExecution">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/CheckTestQueryExecution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionPlan">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryListFromLike">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryListFromLike" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParameters">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryExecutionParametersByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryExecutionParametersByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSet">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryEmptyResultSetByIDAndCompany">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryEmptyResultSetByIDAndCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Analyze">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Analyze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetRows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetQueryList">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetQueryList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetListByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetListByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/UpdateByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNew">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetNewByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdate">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldUpdateByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldUpdateByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidate">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FieldValidateByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/FieldValidateByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomAction">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunCustomActionByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/RunCustomActionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctValues">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetDistinctValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap12:operation soapAction="Ice:BO:DynamicQuery/DynamicQuerySvcContract/GetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EpicorFaultDetailFault">
        <soap12:fault use="literal" name="EpicorFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DynamicQuerySvcFacade">
    <wsdl:port name="BasicHttpBinding_DynamicQuerySvcContract" binding="tns:BasicHttpBinding_DynamicQuerySvcContract">
      <soap:address location="http://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_DynamicQuerySvcContract1" binding="tns:BasicHttpBinding_DynamicQuerySvcContract1">
      <soap:address location="https://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_DynamicQuerySvcContract" binding="tns:CustomBinding_DynamicQuerySvcContract">
      <soap12:address location="net.tcp://e101.trigemco.local/ERP101500/Ice/BO/DynamicQuery.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://e101.trigemco.local/ERP101500/Ice/BO/DynamicQuery.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/E101.TRIGEMCO.LOCAL</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>