BAQExecute_WCF/Service References/DynamicQueryService/DynamicQuery1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Ice:BO:DynamicQuery" elementFormDefault="qualified" targetNamespace="Ice:BO:DynamicQuery" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice.Tablesets" />
  <xs:import schemaLocation="http://e101.sixspartners.us/ERP101500/Ice/BO/DynamicQuery.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetByIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="queryIDList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetByIDsResult" nillable="true" type="q2:DynamicQueryTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q3:QueryExecutionTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q4:DynamicQueryTableset" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q5:QueryExecutionTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTestQueryExecution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="executionToken" type="q6:guid" />
        <xs:element minOccurs="0" name="extDsn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cancelExecution" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTestQueryExecutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTestQueryExecutionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="executionToken" type="q7:guid" />
        <xs:element minOccurs="0" name="extDsn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryExecutionPlanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryListFromLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="likeTableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeFieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryListFromLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetQueryListFromLikeResult" nillable="true" type="q8:DynamicQueryListTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q9:DynamicQueryTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetQueryExecutionParametersResult" nillable="true" type="q10:QueryExecutionTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionParametersByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryExecutionParametersByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetQueryExecutionParametersByIDResult" nillable="true" type="q11:QueryExecutionTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q12:DynamicQueryTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryEmptyResultSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryEmptyResultSetByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSetByIDAndCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryEmptyResultSetByIDAndCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryEmptyResultSetByIDAndCompanyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Analyze">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q13:DynamicQueryTableset" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q14:QueryExecutionTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnalyzeResult" type="xs:boolean" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="errorMessages" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClauseDynamicQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryCtrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryCtrlValues" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryCustomAction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryExecuteSetting" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryParameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQuerySubQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryRelation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryRelationField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQuerySortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryWhereItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryGroupBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryTable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryFunctionCall" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryUpdateField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryUpdateSettings" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryValueSetItems" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseQueryFieldAttribute" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q16:DynamicQueryTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetQueryListResult" nillable="true" type="q17:DynamicQueryListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q18:DynamicQueryTableset" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q19:QueryExecutionTableset" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="hasMorePage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q20:QueryExecutionTableset" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="hasMorePage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q21:DynamicQueryTableset" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q22:DynamicQueryTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q23:DynamicQueryTableset" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldUpdateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldUpdateByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldUpdateByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldUpdateByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q24:DynamicQueryTableset" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldValidateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldValidateByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldValidateByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldValidateByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="isValid" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCustomAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="queryDS" nillable="true" type="q25:DynamicQueryTableset" />
        <xs:element minOccurs="0" name="actionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCustomActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunCustomActionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCustomActionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryResultDataset" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCustomActionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunCustomActionByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="executionParams" nillable="true" type="q26:QueryExecutionTableset" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="distinctFields" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistinctValuesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetByIDResult" nillable="true" type="q28:DynamicQueryTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>